ckpt
outputdir
__pycache__
*.wav
*.npy
egs/HiFi-Codec-24k-320d/bkp_ckpt/
egs/HiFi-Codec-24k-320d/logs*/
output/
data/
bkp/
*.csv
logs*/
egs/TiCodec-24k-320d/nohup.out
Lib_resources/KokoroSpeech/test.lst
Lib_resources/KokoroSpeech/train.lst
